<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.10">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.32">
    <script>node(&quot;&quot;){
    
    // test echo step
    dhecho(&quot;hehe my first echo&quot;)

    //test pwd step
    def x = dhpwd()
    dhecho &quot;Current working directory: &quot;+x
}</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>