<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties/>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <org.__10000tb.statereplay.SleepBuilder plugin="state-replay@1.0-SNAPSHOT">
      <time>1000</time>
    </org.__10000tb.statereplay.SleepBuilder>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>